<h1><%= session[:player_1_name] %> vs. <%= session[:player_2_name] %></h1>
<p><%= session[:player_2_name]%>: 900HP</p> 
<br>
<h4><%= session[:player_1_name] %> has attacked <%= session[:player_2_name] %></h4>
